In [3]:
#creating a list from a tuple
emps=((101,"Ajay",30000),(102,"Blake",40000),(103,"Miller",50000),(104,"Rahul",60000))
y=[p for p in emps]
print(y,type(y))

[(101, 'Ajay', 30000), (102, 'Blake', 40000), (103, 'Miller', 50000), (104, 'Rahul', 60000)] <class 'list'>

In [4]:
#creating a list from set
x={10,20,30,40,50}
y=[p for p in x]
print(x,type(y))

{50, 20, 40, 10, 30} <class 'list'>

In [8]:
#creating a tuple from range function
x=range(10)
y=(p for p in x)
print(y,type(y))

<generator object <genexpr> at 0x0000023F7745D580> <class 'generator'>

In [4]:
#creating a list from string
x="Good Morning Hyderabad"
y=x.split(" ")
print(y,type(y))

['Good', 'Morning', 'Hyderabad'] <class 'list'>

In [3]:
y=[p for p in "Hello World".split(" ")]
print(y,type(y))

['Hello', 'World'] <class 'list'>

In [5]:
#creating a list fom list
emps=["ajay","rohith","james","blake","miller","amar"]
y=[p for p in emps]
print(y,type(y))

['ajay', 'rohith', 'james', 'blake', 'miller', 'amar'] <class 'list'>

In [6]:
#creating a list from tuple
emps=((101,"Ajay",30000),(102,"Blake",40000),(103,"Miller",50000),(104,"Rahul",60000))
y=[p for p in emps]
print(y,type(y))

[(101, 'Ajay', 30000), (102, 'Blake', 40000), (103, 'Miller', 50000), (104, 'Rahul', 60000)] <class 'list'>

In [8]:
#creating a list from set
x={10,20,30,40,50}
y=[p for p in x]
print(y,type(y))

[50, 20, 40, 10, 30] <class 'list'>

In [9]:
#creating a tuple from a range() function
x=range(10)
y=(p for p in x)
print(y,type(y))

<generator object <genexpr> at 0x00000272709EDDD0> <class 'generator'>

In [ ]:
#Set comprehension:

In [11]:
#creating set from range() function
x=range(10)
y={p for p in x}
print(y,type(y))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9} <class 'set'>

In [15]:
#creating a set from a string
x="Good Morning Hydreabad"
y={p for p in x.split(" ")}
print(y,type(y))

{'Morning', 'Hydreabad', 'Good'} <class 'set'>

In [20]:
#creating a set from a list
x=[10,20,30,40,50]
y={p for p in x}
print(y,type(y))

{40, 10, 50, 20, 30} <class 'set'>

In [22]:
#creating a set from a tuple
x=(10,20,30,40,50)
y={p for p in x}
print(y,type(y))

{40, 10, 50, 20, 30} <class 'set'>

In [23]:
#creating a set from a set
x={10,20,30,40,50}
y={p for p in x}
print(y,type(y))

{40, 10, 50, 20, 30} <class 'set'>

In [ ]:
#dicitionary comprehension:

In [26]:
#create a dict from range function
x=range(1,10)
y={p:p**2 for p in x}
print(y,type(y))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81} <class 'dict'>