In [12]:
#syntax for defining a function:

In [5]:
#Function definition
def display():
    '''Function to display a msg'''
    print("hello")
    print("Good Evening....")
display()        #function call

hello
Good Evening....

In [58]:
def display():
    print("hello")
    print("Good Evening....")
display()
display()
display()

hello
Good Evening....
hello
Good Evening....
hello
Good Evening....

In [5]:
#function canot be excuted
display1()
display2()
def display1():
    print("Good Morning!!!!")
def display2():
    print("Good Afternoon!!!!")

NameError: name 'display1' is not defined

In [8]:
def compute():
    x=int(input("Enter value of x:"))
    y=int(input("Enter value of y:"))
    z=x+y
    print("sum=",z)
compute()

Enter value of x:22
Enter value of y:45
sum= 67

In [14]:
#order can be chnged in print
def English():
    print("ABCDEFGHIJK.........")
def Maths():
    print("123456789...........")
def Chemistry():
    print("H2o is the chemical name of water")
Maths()
English()
Chemistry()

123456789...........
ABCDEFGHIJK.........
H2o is the chemical name of water

In [17]:
#function to call another function
def hyd():
    print("Hello Hydrebad!!!!!")
    mumbai()
def mumbai():
    print("Hello Mumbai!!!!!")
hyd()

Hello Hydrebad!!!!!
Hello Mumbai!!!!!

In [23]:
#function without argumnets and without returntype
def add1():
    x=10
    y=20
    z=x+y
    print("sum=",z)
add1()

sum= 30

In [24]:
#function with arguments and without returntype
def add2(x,y):
    z=x+y
    print("sum=",z)
add2(30,40)

sum= 70

In [7]:
#function with arguments and with returntype
def add3(x,y):
    z=x+y
    return z
add3(30,20)
#z value is 50(function call)

50

In [30]:
# calling function in print
def add3(x,y):
    z=x+y
    return 
print(add3(30,20))

50

In [8]:
def add3(x,y):
    z=x+y
    return 
print(add3(30,20))
x=add3(40,30)
print(x)

None
None

In [11]:
#ex:- compute tax and netsalary
salary=int(input("Enter the salary:"))
def compute():
    tax=salary*10/100
    return tax
t=compute()
netsal=salary-t
print("NETSALARY:",netsal)
print("Tax=",t)

Enter the salary:40000
NETSALARY: 36000.0
Tax= 4000.0

In [40]:
def display(s1,s2,s3):
    tot=s1+s2+s3
    avg=tot/3
    return tot,avg
display(90,80,70)

(240, 80.0)

In [43]:
def display(s1,s2,s3):
    tot=s1+s2+s3
    avg=tot/3
    return tot,avg
x=display(90,80,70)
print(x,type(x))
print("TOTAL=",x[0])
print("AVERAGE=",x[1])

(240, 80.0) <class 'tuple'>
TOTAL= 240
AVERAGE= 80.0

In [45]:
def display(s1,s2,s3):
    tot=s1+s2+s3
    avg=tot/3
    return tot,avg
p,q=display(50,60,70)
print(x,type(x))
print("TOTAL=",p)
print("AVERAGE=",q)

(240, 80.0) <class 'tuple'>
TOTAL= 180
AVERAGE= 60.0

In [48]:
#function without argument and with returntype
def add4():
    x=10
    y=20
    z=x+y
    return z
p=add4()
print(p)

30

In [50]:
#calling a function by providing some values
def display(x,y):
    z=x+y
    print("sum=",z)
display(10,20)

sum= 30

In [54]:
#calling a function by providing some refrence
def show(a,b):
    c=a+b
    print("sum=",c)
p=30
q=40
show(p,q)         #here show is some refrence

sum= 70

In [57]:
def display(list1):
    list1.append(60)
    print(list1,id(list1))
list1=[10,20,30,40,50]
print(list1,id(list1))
display(list1)
print(list1,id(list1))

[10, 20, 30, 40, 50] 2169492672960
[10, 20, 30, 40, 50, 60] 2169492672960
[10, 20, 30, 40, 50, 60] 2169492672960

In [60]:
x=10         #Global variable
def display():
    y=20           #local variable
    print(x)
    print(y)
display()

10
20

In [65]:
x=10
def show():
    y=20           
    print(x)
    print(y)
show()

10
20

In [69]:
x=10
def display():
    x=20           
    print(x)
def show():
    print(x)
display()
show()

20
10

In [70]:
#modifying global variables from within the function
x=10
def display():
    global x
    x=20
    print(x)
def show():
    print(x)
show()
display()
show()

10
20
20

In [6]:
def evenodd(n):
    if n%2==0:
        print("{} number is even".format(n))
    else:
        print("{} number is odd".format(n))
evenodd(11)

11 number is odd

In [ ]:
#ARBITARY ARGUMENTS

In [14]:
def display(name,*marks):
    print(name,type(name))
    print(marks,type(marks))
    for p in marks:
        print(p)
display("Blake",75,65,90)
print("\n\n\n")

Blake <class 'str'>
(75, 65, 90) <class 'tuple'>
75
65
90

In [25]:
def display(name,marks):
    print(name)
    x=1
    for p in marks:
        print("subject",x,".",p)
        x=x+1
display(subject=)

pranil
subject 1 . 1
subject 2 . 0

In [11]:
def display(x,y,*z):
    print(x,type(x))
    print(y,type(y))
    print(z,type(z))
display(10,20,30)
print("\n")
display(10,20,30,40,50)
print("\n")
display(10,20)
print("\n")
display(10,20,"hello")
print("\n")
display(10,"hai","hello")
print("\n")
display(10,"hai","hello","world")
print("\n")
display(10,20,30,[40,50])
print("\n")

10 <class 'int'>
20 <class 'int'>
(30,) <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
(30, 40, 50) <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
() <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
('hello',) <class 'tuple'>


10 <class 'int'>
hai <class 'str'>
('hello',) <class 'tuple'>


10 <class 'int'>
hai <class 'str'>
('hello', 'world') <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
(30, [40, 50]) <class 'tuple'>

In [22]:
def display(*p,q,r=40):
    print(p,type(p))
    print(q,type(q))
    print(r,type(r))
display(10,20,q=30)
display(10,20,30,q=40,r=50)
display((10,20,30),q=40,r=50)
display((10,20,30),(40,50),q=40,r=50)

(10, 20) <class 'tuple'>
30 <class 'int'>
40 <class 'int'>
(10, 20, 30) <class 'tuple'>
40 <class 'int'>
50 <class 'int'>
((10, 20, 30),) <class 'tuple'>
40 <class 'int'>
50 <class 'int'>
((10, 20, 30), (40, 50)) <class 'tuple'>
40 <class 'int'>
50 <class 'int'>

In [38]:
def f1():
    global a
    a=888
    print("f1:",a)
def f2():
    global a
    a=999
    print("f2:",a)
def f3():
    print("f3:",a)
f2()
f1()
f3()

f2: 999
f1: 888
f3: 888

The square of 2 is: 4

In [8]:
def iseven(x):
    if x%2==0:
        return True
    else:
        return False
l=[0,5,10,15,20,25,30]
l1=list(filter(iseven,l))
print(l1)

[0, 10, 20, 30]

In [14]:
def wish():
    print("hello")
wish()
print(wish())

hello
hello
None

In [19]:
def exp(a,b):
    sum=a+b
    sub=a-b
    return sum,sub
sum,sub=exp(100,50)    #here at the place of sum and sub we can use x and y also
print("the sum is:",sum)
print("the sub is:",sub)

the sum is: 150
the sub is: 50

In [21]:
def exp(a,b):
    sum=a+b
    sub=a-b
    return sum,sub
x,y=exp(100,50)
print("the Sum is:",x)
print("the Subtraction is:",y)

the Sum is: 150
the Subtraction is: 50

In [52]:
a=10
def f1():
    a=777
    print(a)
    print(globals()['a'])
def f2():
    print(a)
f1()
f2()

777
10
10

In [57]:
def factorial(n):
    if n==0:
        result=1
    else:
        result=n*factorial(n-1)
    return result
print("factorial of 4 is:",factorial(4))

factorial of 4 is: 24

In [1]:
num=lambda x:bool(x%3)
print(num(23),num(21))

True False

In [1]:
def outer():
    print("outer function started")
    def inner():
        print("inner function execution")
    print("outer function returning innner function")
    return inner
f1=outer()
f1()
f1()  #after this call only inner function will be executed...
print(f1)
print(id(f1))
print(type(f1))

outer function started
outer function returning innner function
inner function execution
inner function execution
<function outer.<locals>.inner at 0x0000020DE1FE4AF0>
2258649369328
<class 'function'>

In [2]:
def decor1(func):
    def inner():
        x=func()
        return x*x
    return inner
def decor(func):
    def inner():
        x=func()
        return 2*x
    return inner
@decor
@decor1
def num():
    return(10)
print(num())

200

In [3]:
def decor1(func):
    def inner():
        x=func()
        return x*x
    return inner
def decor(func):
    def inner():
        x=func()
        return 2*x
    return inner
@decor1
@decor
def num():
    return(10)
print(num())

400

In [7]:
def countdown(num):
    print("countdown start")
    while(num>0):
        yield num
        num=num-1
values=countdown(5)
for x in values:
    print(x)

countdown start
5
4
3
2
1

In [6]:
def mygen():
    yield'A'
    yield'B'
    yield'C'
g=mygen()
print(type(g))
print(next(g))
print(next(g))
print(next(g))

<class 'generator'>
A
B
C

In [4]:
def smart_division(func):
    def inner(a,b):
        print("We are dividing",a,"with",b)
        if b==0:
            print("we can't divide with zero")
        else:
            return func(a,b)
        return inner
@smart_division
def division(a,b):
        return a/b
print(division,(10/2))

None 5.0

In [ ]:
# Function Part-2

In [15]:
def customer(cid,cname,bal,city="pune"):
    print(cid,cname,bal,city)
customer(101,'Ajay',60000,"hyd")   # non-keyword arg
customer(bal=70000,cname="Rahul",cid=102,city="Chennai")  # keyword arg
customer(103,"Blake",bal=80000,city="Pune") #after non-keyword arg we can have keyword arg
# custome(cid=104,cname="Miller",75000,"pune") this will give error cause after keyword arg non-keyword agr

101 Ajay 60000 hyd
102 Rahul 70000 Chennai
103 Blake 80000 Pune

In [16]:
# Arbitary Arguments----->
def display(name,*marks):  #asterisk(*) is placed before the variable name that holds multiple values,(tuple type)
    print(name,type(name))
    print(marks,type(marks))
    for p in marks:
        print(p)
display("Blake",75,65,90)  # calling function

Blake <class 'str'>
(75, 65, 90) <class 'tuple'>
75
65
90

In [17]:
def display1(name,*marks):
    print(name)
    x=1
    for p in marks:
        print("subject",x,":",p)
        x+=1
display1("Blake",75,65,90)

Blake
subject 1 : 75
subject 2 : 65
subject 3 : 90

In [18]:
def display(x,y,*z):
    print(x,type(x))
    print(y,type(y))
    print(z,type(z))

display(10,20,30)
print("\n")
display(10,20,30,40,50)
print("\n")
display(10,20)
print("\n")
display(10,20,"hello")
print("\n")
display(10,"hai","hello")
print("\n")
display(10,"hai","hello","world")
print("\n")
display(10,20,30,[40,50])

10 <class 'int'>
20 <class 'int'>
(30,) <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
(30, 40, 50) <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
() <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
('hello',) <class 'tuple'>


10 <class 'int'>
hai <class 'str'>
('hello',) <class 'tuple'>


10 <class 'int'>
hai <class 'str'>
('hello', 'world') <class 'tuple'>


10 <class 'int'>
20 <class 'int'>
(30, [40, 50]) <class 'tuple'>

In [ ]:
def display(*p,q,r):
    print(p,type(p))
    print(q,type(q))
    print(r,type(r))
display(10,20,30)
display(10,20,30,40,50)
display(10,20)
# error cause all values are taken by p as tuple
# value of q and r are missing

In [21]:
# to overcome above problem,we assign values to q and r as key-word arg or default arg
def display(*p,q,r=40):
    print(p,type(p))
    print(q,type(q))
    print(r,type(r))
    
display(10,20,q=30)
print("\n")
display(10,20,30,q=40,r=50)  # updated r value it will take
print("\n")
display((10,20,30),q=40,r=50)
print("\n")
display((10,20,30),(40,50),q=40,r=50)

(10, 20) <class 'tuple'>
30 <class 'int'>
40 <class 'int'>


(10, 20, 30) <class 'tuple'>
40 <class 'int'>
50 <class 'int'>


((10, 20, 30),) <class 'tuple'>
40 <class 'int'>
50 <class 'int'>


((10, 20, 30), (40, 50)) <class 'tuple'>
40 <class 'int'>
50 <class 'int'>

In [ ]:
# Lambda Function----> 
# syntax:--- lambda arguments:expression
# if fun doesn't have any name, assign any variable to it and then call

In [30]:
#lambda fun to square a number
f1=lambda x:x*x  #assigning the lambda function to a variable(f1)
print(f1(8))
print(f1(20))
print("The square of 14 is:",f1(14))

64
400
The square of 14 is: 196

In [31]:
def test():
    try:
        return 3
    finally:
        return 6
print(test())

6

In [32]:
def test(i,values=[]):
    values.append(i)
    return values
test(1)
test(2)
test(3)
print(test(3))

[1, 2, 3, 3]

In [34]:
def x():pass
print(type(x()))

<class 'NoneType'>

In [35]:
# Filter function---> for filtering data based on conditions
# Task-- to filter those values>20
l=[10,20,30,40,50]
res=list(filter(lambda x:x>20,l))
print(res,type(res))

[30, 40, 50] <class 'list'>

In [36]:
emps=[[101,"miller",30000,'m',11,'hyd'],
      [102,"blake",40000,'m',12,"pune"],
      [103,"sony",50000,'f',11,'pune'],
      [104,"sita",60000,'f',12,'hyd'],
      [105,"james",70000,'m',13,'hyd']]
      
# Task-- filter those emps who belongs to the city "hyd"
hyd_recs=list(filter(lambda x:x[5]=='hyd',emps))
print(hyd_recs)

[[101, 'miller', 30000, 'm', 11, 'hyd'], [104, 'sita', 60000, 'f', 12, 'hyd'], [105, 'james', 70000, 'm', 13, 'hyd']]

In [38]:
# Task-- filter only male emp records
hyd_res=list(filter(lambda x:x[3]=='m',emps))
print(hyd_recs)

[[101, 'miller', 30000, 'm', 11, 'hyd'], [104, 'sita', 60000, 'f', 12, 'hyd'], [105, 'james', 70000, 'm', 13, 'hyd']]

In [39]:
# Task-- to filter whose sal is >40000
hyd_recs=list(filter(lambda x:x[2]>40000,emps))
print(hyd_recs)

[[103, 'sony', 50000, 'f', 11, 'pune'], [104, 'sita', 60000, 'f', 12, 'hyd'], [105, 'james', 70000, 'm', 13, 'hyd']]

In [1]:
# MAP Function:-----
list1=[10,20,30,40,50]
#Task :- Adding 5 to each element of the list
res=list(map(lambda x:x+5,list1))
print(res)

[15, 25, 35, 45, 55]

In [3]:
emps=[[101,"miller",30000,'m',11,'hyd'],
      [102,"blake",40000,'m',12,'pune'],
      [103,"sony",50000,'f',11,'pune'],
      [104,"sita",60000,'f',12,'hyd'],
      [105,"james",70000,'m',13,'hyd']]
#Task 1:- Adding 5000 to the sal of each employee as bonus
res=list(map(lambda x:[x[0],x[1],x[2]+5000,x[3],x[4],x[5]],emps))
print(res)

[[101, 'miller', 35000, 'm', 11, 'hyd'], [102, 'blake', 45000, 'm', 12, 'pune'], [103, 'sony', 55000, 'f', 11, 'pune'], [104, 'sita', 65000, 'f', 12, 'hyd'], [105, 'james', 75000, 'm', 13, 'hyd']]

In [9]:
#Task 2: Transform each empname to start with uppercase
res=list(map(lambda x:x[1].capitalize(),emps))
print(res)
print("\n")
res1=list(map(lambda x:[x[0],x[1].capitalize(),x[2],x[3],x[4],x[5]],emps))
print(res1)

['Miller', 'Blake', 'Sony', 'Sita', 'James']


[[101, 'Miller', 30000, 'm', 11, 'hyd'], [102, 'Blake', 40000, 'm', 12, 'pune'], [103, 'Sony', 50000, 'f', 11, 'pune'], [104, 'Sita', 60000, 'f', 12, 'hyd'], [105, 'James', 70000, 'm', 13, 'hyd']]

In [12]:
#Task 3: Transform "m"----"male","f"----"female"
res2=list(map(lambda x:[x[0],x[1],x[2],"male" if(x[3]=='m') else "female",x[4],x[5]],res1))
print(res2)
#map is not for filtering records but to map a logic for each element of a list

[[101, 'Miller', 30000, 'male', 11, 'hyd'], [102, 'Blake', 40000, 'male', 12, 'pune'], [103, 'Sony', 50000, 'female', 11, 'pune'], [104, 'Sita', 60000, 'female', 12, 'hyd'], [105, 'James', 70000, 'male', 13, 'hyd']]

In [13]:
l=[1,2,3,4,5]
# program to cube each element of list
res=list(map(lambda x:x**3,l))
print(res)

[1, 8, 27, 64, 125]

In [1]:
#Task:- Add 2 lists using map and lambda
list1=[10,20,30,40,50]
list2=[60,70,80,90,100]
res=list(map(lambda x,y:x+y,list1,list2))
print(res)

[70, 90, 110, 130, 150]

In [2]:
# Reduce function---->
from functools import *
list1=[1,2,3,4,5,6]
res=reduce(lambda x,y:x+y,list1)   #fibonassi expresion adding next element
print(res)                         #((((1+2)+3)+4)+5)+6) =21

21

In [3]:
#Task :- To find the largest number
res2=reduce(lambda x,y:x if (x>y) else y,list1)
print(res2)

6

In [4]:
#Boolean function :A Function which returns either True/False
x=10
y=5
def display():
    if(x>y):
        return True
    else:
        return False
p=display()
print(p)

True

In [10]:
# program to multiply all the numbers in a list.
def product(list1):
    total=1
    for x in list1:
        total*=x
    return total
print(product((8, 2, 3, -1, 7)))

-336

In [16]:
# program to reverse a string.
def reverse(string):
    str1=''
    index=len(string)
    while index>0:
        str1 +=string[index-1]
        index=index-1
    return str1
print(reverse("pranil0712"))

2170linarp

In [19]:
# program to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [21]:
# program to check whether a number falls in a given range.
def check(n):
    if n in range(1,10):
        print("%s is in range"%str(n))
    else:
        print("%s not in range"%str(n))
check(5)

5 is in range

In [25]:
# program that accepts a string and calculate the number of upper case letters and lower case letters.
def word(str1):
    d={"upper_case":0,"lower_case":0}
    for x in str1:
        if x.isupper():
            d["upper_case"]+=1
        elif x.islower():
            d["lower_case"]+=1
        else:
            pass
    print("Original string",str1)
    print("No. of Upper case characters : ", d["upper_case"])
    print("No. of lower case characters : ", d["lower_case"])
word("The qucik Brown Fox")

Original string The qucik Brown Fox
No. of Upper case characters :  3
No. of lower case characters :  13

In [26]:
# program that takes a list and returns a new list with unique elements of the first list.
def new_list(l):
    x=[]
    for a in l:
        if a not in x:
            x.append(a)
    return x
print(new_list([1,2,3,2,3,4,4,5]))

[1, 2, 3, 4, 5]

In [32]:
# program that takes a number as a parameter and check the number is prime or not.
def is_prime(n):
    if n==1:
        return False
    elif n==2:
        return True
    else:
        for x in range(2,n):
            if (n % x==0):
                return False
        return True
print(is_prime(12))

False

In [33]:
# program to print the even numbers from a given list.
def even(l):
    num=[]
    for x in l:
        if x % 2==0:
            num.append(x)
    return num
print(even([1,2,12,14,4,5,7]))

[2, 12, 14, 4]

In [42]:
#program that checks whether a passed string is palindrome or not.(palindrome means same word reading from both side ex:- level)
def palindrome(string):
    left_pos=0
    right_pos=len(string)-1
    while right_pos>=left_pos:
        if not string[left_pos]==string[right_pos]:
            return False
        else:
            left_pos+=1
            right_pos-=1
    return True
print(palindrome("pranil"))
print(palindrome("level"))

False
True

In [3]:
r=lambda a:a+15
print(r(10))
r=lambda x,y:x*y
print(r(12,4))

25
48

In [10]:
def func_compute(n):
    return lambda x:x*n
result=func_compute(2)
print("Double the number of 15 =",result(15))

Double the number of 15 = 30