In [1]:
x=input("Enter some number:")
print(type(x))

Enter some number:20
<class 'str'>

In [4]:
x=int(input("Enter first number:"))
y=int(input("Enter second number:"))
print("The Sum:",x+y)

Enter first number:20
Enter second number:40
The Sum: 60

In [5]:
#to read vlaues from keyboard in a single line
print("The sum:",int(input("Enter first number:"))+int(input("Enter second number:")))

Enter first number:30
Enter second number:69
The sum: 99

In [8]:
#to read multiples vlaues from keyboard in a single line
a,b=[int(x) for x in input("Enter 2 numbers:").split()]
print("The product:",a*b)

Enter 2 numbers:30 40
The product: 1200

In [9]:
a,b=[int(x) for x in input("Enter 2 numbers:").split(",")]
print("The product:",a*b)

Enter 2 numbers:30,40
The product: 1200

In [10]:
#eval()
x=eval("10+20+30")
print(x)

60

In [11]:
ex=input("Enter some expression:")
result=eval(ex)
print("The result:",result)

Enter some expression:10+20*50-5
The result: 1005

In [17]:
x=eval(input("Enter some data:"))
print(type(x))

Enter some data:20
<class 'int'>

In [16]:
#any type of data we provide it will consider that type only
x=eval(input("Enter some data:"))
print(type(x))

Enter some data:30.536
<class 'float'>

In [1]:
from sys import argv
print(type(argv))

<class 'list'>

In [1]:
eno=int(input("Enter Employee No:")) 
ename=input("Enter Employee Name:") 
esal=float(input("Enter Employee Salary:")) 
eaddr=input("Enter Employee Address:") 
married=bool(input("Employee Married ?[True|False]:")) 
print("Please Confirm Information") 
print("Employee No :",eno) 
print("Employee Name :",ename) 
print("Employee Salary :",esal) 
print("Employee Address :",eaddr) 
print("Employee Married ? :",married)

Enter Employee No:100
Enter Employee Name:Durga
Enter Employee Salary:20000
Enter Employee Address:Mumbai
Employee Married ?[True|False]:False
Please Confirm Information
Employee No : 100
Employee Name : Durga
Employee Salary : 20000.0
Employee Address : Mumbai
Employee Married ? : True

In [7]:
#to read multiple values form keyboard in a single line
a,b=(eval(x)for x in input("Enter 2 numbers:").split(","))
print("Product is:",a*b)

Enter 2 numbers:20,40
Product is: 800

In [6]:
#program to read 3 float numbers from the keyboard with , seperator and print their sum
a,b,c=(float(x)for x in input("Enter 3 numbers:").split(","))
print("The Sum is:",a+b+c)

Enter 3 numbers:20.5,30.3,55.5
The Sum is: 106.3

In [8]:
#a Program to display Command Line Arguments
from sys import argv
print("The number of command line arguments:",len(argv))
print("The list of command line argumnets:",argv)
print("Command line arguments one by one:")
for x in argv:
    print(x)

The number of command line arguments: 3
The list of command line argumnets: ['D:\\ProgramData\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\91952\\AppData\\Roaming\\jupyter\\runtime\\kernel-630d94cd-6e43-47f2-a331-4c84c510f057.json']
Command line arguments one by one:
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py
-f
C:\Users\91952\AppData\Roaming\jupyter\runtime\kernel-630d94cd-6e43-47f2-a331-4c84c510f057.json

In [12]:
#output statements
print("Hello \n World")

Hello
 World

In [13]:
print("Hello \t World")

Hello 	 World

In [19]:
print(10*"Hello ")

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [21]:
print("Hello"+"World")
print("Hello","World")

HelloWorld
Hello World

In [25]:
#form-3 print()
a,b,c=10,20,30
print("The values are:",a,b,c)
print(a,b,c,sep=',')
print(a,b,c,sep=':')

The values are: 10 20 30
10,20,30
10:20:30

In [27]:
#print() with end attribute for printing in one line
print("Hello",end=' ')
print("Students",end=' ')
print("Python",end=' ')
print("is very easy")

Hello Students Python is very easy

In [28]:
#print(object) statement
l=(10,20,30,40)
t=[10,20,30,40]
s={10,20,30,40}
print(l,t,s)

(10, 20, 30, 40) [10, 20, 30, 40] {40, 10, 20, 30}

In [35]:
#form-6 print(string,variable,list)
s="Durga"
a=48
s1="java"
s2="python"
print("Hello",s,"Your age is",a)
print("You are teaching",s1,"and",s2)

Hello Durga Your age is 48
You are teaching java and python

In [36]:
#form-7 print(formatted string):
#syntax--- print("formatted string" %(variable list))
a=10
b=20
c=30
print("a value is %i"%a)
print("b value is %d and c value is %d"%(b,c))

a value is 10
b value is 20 and c value is 30

In [37]:
s="Durga"
list=[10,20,30,40]
print("Hello %s...The list of item are %s"%(s,list))

Hello Durga...The list of item are [10, 20, 30, 40]

In [41]:
#form-8 print() with replacement operator
name="durga"
salary=10000
gf="sunny"
print("Hello {0} your salary is {1} and your girlfriend {2} is waiting".format(name,salary,gf))
print("Hello {} your salary is {} and your girlfriend {} is waiting".format(name,salary,gf))
print("Hello {x} your salary is {y} and your girlfriend {z} is waiting".format(x=name,y=salary,z=gf))

Hello durga your salary is 10000 and your girlfriend sunny is waiting
Hello durga your salary is 10000 and your girlfriend sunny is waiting
Hello durga your salary is 10000 and your girlfriend sunny is waiting

In [5]:
print("You look so cute")
print()
print("Let's meet for coffee")

You look so cute

Let's meet for coffee