In [10]:
#split function------>
s="Learning,Python,is,very,easy"
l=(s.split(",",2))  #first to comma got splited
print(l)

['Learning', 'Python', 'is,very,easy']

In [11]:
s="Learning,Python,is,very,easy"
l=(s.rsplit(",",2))  #end to comma got splited
print(l)

['Learning,Python,is', 'very', 'easy']

In [18]:
#nested list access----->
s=[10,20,[30,40,50]]   #list in list
print(s[0])
print(s[:1]) 
print(s[:3])
print(s[2][1])

10
[10]
[10, 20, [30, 40, 50]]
40

In [33]:
#using slice operator----->
l=[10,20,30,40,50,60,70,80,90]
print(l[::])
print(l[1:7:2])
print(l[2::2])
print(l[6:1:-1])
print(l[6:1:-2])
print(l[6:2:-2])
print(l[4:100])   #upto end

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[20, 40, 60]
[30, 50, 70, 90]
[70, 60, 50, 40, 30]
[70, 50, 30]
[70, 50]
[50, 60, 70, 80, 90]

In [35]:
#traversing the elements of list:
#using while loop
n=[0,1,2,3,4,5,6,7]
i=0
while i<len(n):
    print(n[i])
    i+=1

0
1
2
3
4
5
6
7

In [36]:
#using for loop
n=[0,1,2,3,4,5,6,7,8]
for x in n:
    print(x)

0
1
2
3
4
5
6
7
8

In [37]:
#program to display even num
n=[0,1,2,3,4,5,6,7,8,9]
for x in n:
    if x%2==0:
        print(x)

0
2
4
6
8

In [39]:
#to display elements index wise:
l=["A","B","C","D","E"]
x=len(l)
for i in range(x):
    print(l[i],"is available at positive index:",i,"and at negative index:",i-x)

A is available at positive index: 0 and at negative index: -5
B is available at positive index: 1 and at negative index: -4
C is available at positive index: 2 and at negative index: -3
D is available at positive index: 3 and at negative index: -2
E is available at positive index: 4 and at negative index: -1

In [41]:
#count method----->
n=[1,2,2,2,3,3,4]
print(n.count(1))
print(n.count(2))

1
3

In [45]:
#index method--->  first occurence of element
n=[1,2,2,2,3,3,4,4,5]
print(n.index(1))
print(n.index(2))
print(n.index(3))

0
1
4

In [50]:
#append function---->
list=[]
list.append("A")
list.append("B")
print(list)

['A', 'B']

In [52]:
#program to add elements to list upto 100 divisble by 10
l=[]
for x in range(1,101):
    if x%10==0:
        l.append(x)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [55]:
#insert function----> to add elements add specified pos.
n=[1,2,3,4,5]
n.insert(1,888)   #here first arg is position where to add and second arg what to add.
n.insert(10,777)  #pos greater than max index so it will add to last.
n.insert(-10,999) #pos is smaller than 0 then it will added to first.
print(n)

[999, 1, 888, 2, 3, 4, 5, 777]

In [5]:
#extend function----->
l1=[10,20,30,40]
l2=[50,60,10,30]
l1.extend(l2)
print(l1)
print(l2)

[10, 20, 30, 40, 50, 60, 10, 30]
[50, 60, 10, 30]

In [7]:
l1=[10,20,30,40]
l2=["durga"]
l1.extend(l2)
print(l1)
print(l2)

[10, 20, 30, 40, 'durga']
['durga']

In [9]:
l1=[10,20,30]
l1.extend("durga")  #one by one element will be add
print(l1)

[10, 20, 30, 'd', 'u', 'r', 'g', 'a']

In [10]:
l1=[10,20,30]
l1.append("durga")
print(l1)

[10, 20, 30, 'durga']

In [57]:
#remove--->  if the item is mutiple time the first ocurence will be removed.
n=[10,20,10,30]
n.remove(10)
print(n)

[20, 10, 30]

In [13]:
l=[10,20,30,40,50,60]
x=int(input("Enter the element to remove:"))
if x in l:
    l.remove(x)
    print("Element removed succesfully")
    print(l)
else:
    print("Specified element is not availabe")

Enter the element to remove:20
Element removed succesfully
[10, 30, 40, 50, 60]

In [60]:
#pop function---> its remove last element of the list
n=[10,20,30,40]
print(n.pop())
print(n.pop())
print(n)

40
30
[10, 20]

In [63]:
#n.pop(index)----> to remove & return element present at specified index, Only first occurence is removed
n=[10,20,10,20,30,40]
print(n.pop(1))
print(n)

20
[10, 10, 20, 30, 40]

In [69]:
#reverse---->to reverse order of elements of list.
n=[10,20,30,40]
n.reverse()
print(n)
print(n.reverse())   #we can't take in print arg it will return none.

[40, 30, 20, 10]
None

In [74]:
#sort---->
#for numbers
n=[50,20,10,40,30]
n.sort()
print(n)

[10, 20, 30, 40, 50]
None

In [73]:
#for string
n=["D","B","A","C"]
n.sort()
print(n)

['A', 'B', 'C', 'D']

In [77]:
#to sort in reverse---->
n=[20,40,30,10,]
n.sort(reverse=True)   #if condition is true O.P will descending order
print(n)

[40, 30, 20, 10]

In [78]:
#aliasing---->
x=[10,20,30,40]
y=x
y[1]=777   #to content will be change for both object a and y
print(x)

[10, 777, 30, 40]

In [80]:
#to overcome above problem we should do cloning---->
#slice operator
x=[10,20,30,40]
y=x[:]  #here we can use x.copy() function also.
y[1]=777   #this is change will be only in y object.
print(x)
print(y)

[10, 20, 30, 40]
[10, 777, 30, 40]

In [81]:
#using concatenation operator(+)
a=[10,20,30,40]    #both arg should be list..
b=[30,50,40,60]
c=a+b
print(c)

[10, 20, 30, 40, 30, 50, 40, 60]

In [83]:
#using (*) operator
x=[10,20,30]
y=x*3
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
#comaring list object---->

In [12]:
x=[50,90,10]
y=[50,90,100]
print(x<=y)

True

In [19]:
x=["dog","rat"]
y=["dOg","rat"]
print(x>y)

True

In [86]:
#clear() function---->
n=[10,20,30,40]
print(n)
n.clear()
print(n)

[10, 20, 30, 40]
[]

In [88]:
#nested list as matrix---->
n=[[10,20,30],[40,50,60],[70,80,90]]
for r in n:
    print(r)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [91]:
n=[[10,20,30],[40,50,60],[70,80,90]]
for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end=' ')
    print()

10 20 30
40 50 60
70 80 90

In [99]:
#list comprehension---->
#syntax---> list=[expression for item in list if condition]
s=[x*x for x in range(1,11)]   #finding square
print(s)
m=[x for x in s if x%2==0]   #(s) value is in above expression 
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [97]:
v=[2**x for x in range(1,6)]
print(v)

[2, 4, 8, 16, 32]

In [102]:
words=["Balaiah","Naga","Chait","Allu"]
l=[w[0:3] for w in words]
print(l)

['Bal', 'Nag', 'Cha', 'All']

In [103]:
num1=[10,20,30,40]
num2=[30,40,50,60]
num3=[i for i in num1 if i not in num2]
print(num3)

[10, 20]

In [104]:
words="the quick brown for jump over the lazy dog".split()
print(words)
l=[[w.upper(),len(w)] for w in words]
print(l)

['the', 'quick', 'brown', 'for', 'jump', 'over', 'the', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOR', 3], ['JUMP', 4], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

In [106]:
vowels=['a','e','i','o','u']
words=input("Enter the words to search for vowels:")
found=[]
for letter in words:
    if letter in vowels:
        if letter not in found:
            found.append(letter)
print(found)
print("The numbers of different vowels present in",words,"is",len(found))

Enter the words to search for vowels:Pranil Bhupendra Patel
['a', 'i', 'u', 'e']
The numbers of different vowels present in Pranil Bhupendra Patel is 4

In [1]:
def sum_list(items):
    sum_numbers=0
    for x in items:
        sum_numbers+=x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [7]:
#sum of numbers
l=eval(input("Enter some list of numbers:"))
sum_numbers=0
for x in l:
    sum_numbers+=x
print(sum_numbers)

Enter some list of numbers:[1,2,-8]
-5

In [9]:
#mutiply all items in list
l=eval(input("Enter some list of numbers:"))
total=1
for x in l:
    total*=x
print(total)

Enter some list of numbers:[1,2,-8]
-16

In [15]:
def max_in_list(list):
    max=list[0]
    for x in list:
        if x > max:
            max = x
    return max
print(max_in_list([1,2,-8,0]))

2

In [17]:
def min_in_list(list):
    min=list[0]
    for x in list:
        if x < min:
            min=x
    return min
print(min_in_list([1,2,-8,0]))

-8

In [18]:
#Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
def match_words(words):
    ctr=0
    for x in words:
        if len(x)>1 and x[0]==x[-1]:
            ctr+=1
    return ctr
print(match_words(['abc','xyz','aba','1221']))

2

In [19]:
#Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
def last(n): return n[-1]

def sort_list_last(tuples):
    return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [31]:
a=eval(input("Enter list:"))
dupitems=[]
for x in a:
    if x not in dupitems:
        dupitems.append(x)
print(dupitems)

Enter list:[10,20,30,20,10,50,60,40,80,50,40]
[10, 20, 30, 50, 60, 40, 80]

In [4]:
#program to check list is empty or not
l=[]
if not l:
    print("List is empty")

List is empty

In [34]:
#sorting list
l1=eval(input("Enter list:"))
l2=list(l1)
print(l1)
l2.sort()
print(l2)

Enter list:[10,20,30,50,60,40,70,80,]
[10, 20, 30, 50, 60, 40, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]

In [35]:
#cloning list
l1=eval(input("Enter list:"))
l2=list(l1)
print(l1)
print(l2)

Enter list:[10,20,30,40,50,60]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [39]:
#program to find the list of words that are longer than n from a given list of words.
def long_word(n,str):
    word_len=[]
    txt=str.split(" ")
    for x in txt:
        if len(x)>n:
            word_len.append(x)
    return word_len
print(long_word(3,"The quick brown fox jumps over the lazy dog"))

['quick', 'brown', 'jumps', 'over', 'lazy']

In [12]:
#Python function that takes two lists and returns True if they have at least one common member
def common_data(list1,list2):
    result=False
    for x in list1:
        for y in list2:
            if x==y:
                result=True
                return result
print(common_data([1,2,3,4,5],[5,6,7,8,9]))
print(common_data([1,2,3,4,5],[6,7,8,9]))

True
None

In [15]:
#Enumerate()--->returns an object that contains a counter as a key for each value within an object
#Syntax:-- enumerate(iterable, start=0)

color=['Red','Green','White','Black','Pink','Yellow']
color=[x for (i,x) in enumerate(color)if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

In [21]:
#Python program to print the numbers of a specified list after removing even numbers from it
num=eval(input("Enter the list:"))
num=[x for x in num if x%2!=0]
print(num)

Enter the list:[7,8,120,25,44,20,27]
[7, 25, 27]

In [1]:
from random import shuffle
color=['Red','Green','White','Black','Pink','Yellow']
shuffle(color)
print(color)

['White', 'Black', 'Pink', 'Red', 'Green', 'Yellow']