In [1]:
print("Hello World")

Hello World

In [4]:
l=[10,20,30,40]
l.append(120)
print(l)

[10, 20, 30, 40, 120]

In [5]:
r=range(10)
for i in r: print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
Arithmetic operations on boolean and float

In [13]:
r=range(1,10,2)
for i in r: print(i)

1
3
5
7
9

In [2]:
print("hello"+"3")

hello3

In [3]:
print("hello"+str(3))

hello3

In [4]:
print("hello"*3)

hellohellohello

In [5]:
print(3*"hello")

hellohellohello

In [8]:
x=10
y=10
print(x>=y)

True

In [9]:
print(x==y)

True

In [13]:
x=10
y=20
z=30
q=(x>y) and (z>x) or (y!=z)
print(q)

True

In [ ]:
q=(x>y) and (z>x) or (y!=z)
print(q)

In [15]:
x**=3
print(x)

1000

In [1]:
a=10
b=10
print(a,id(a))
print(b,id(b))

10 1479648242256
10 1479648242256

In [2]:
print(a is b)

True

In [5]:
print(a is b)
print(a == b)
print(a is not b)

True
True
False

In [8]:
x=[10,20,30,40,50]
y=[10,20,30,40,50]
print(x,id(x))
print(y,id(y))
print(x is y)
print(x == y)

[10, 20, 30, 40, 50] 1479734975744
[10, 20, 30, 40, 50] 1479734965568
False
True

In [9]:
x=[10,20,30,40,50]
print(10 in x)
print(70 not in x)

True
True

In [10]:
emps=["James","Rahul","Ajay","Blake","Amar"]
print("John" in emps)
print("Rahul" in emps)

False
True

In [15]:
a=10
b=7
print(a&b)
print(a|b)
print(a^b)
print(a<<2)
print(a>>2)

2
15
13
40
2

In [17]:
x=int(input("Enter value of x:"))
if (x<=4):
    print("ONE")
    print("TWO")
    print("THREE")
    print("FOUR")
else:
    print("FIVE")
    print("SIX")
    print("SEVEN")
    print("EIGHT")

Enter value of x:7
FIVE
SIX
SEVEN
EIGHT

In [2]:
x=int(input("Enter value of x:"))
y=int(input("Enter the value of y:"))
if (x==y):
    print("No's are equal")
else:
    print("No's are not equal")

Enter value of x:2
Enter the value of y:4
No's are not equal

In [1]:
x=int(input("Enter value of x:"))
if (x%2==0):
    print(x,"is a even no")
else:
    print(x,"is a odd no")

Enter value of x:5
5 is a odd no

In [1]:
x=int(input("Enter value of x:"))
y=int(input("Enter value of y:"))
z=int(input("Enter value of z:"))
if(x>y):
    if(x>z):
        print(x,"is the largest!!!")
    else:
        print(z,"is the largest!!!")
else:
    if(y>z):
        print(y,"is the largest!!!")
    else:
        print(z,"is the largest!!!")

Enter value of x:10
Enter value of y:20
Enter value of z:40
40 is the largest!!!

In [4]:
import datetime
print(datetime.datetime.now())

2022-06-03 20:21:20.888763

In [7]:
time=float(input("Enter the current time:"))
if(time<=12.00):
    print("Good Morning!!!")
elif(time<=16.00):
    print("Good Afternoon!!!")
elif(time<=20.00):
    print("Good Evening!!!")
else:
    print("Good Night!!!")

Enter the current time:20.27
Good Night!!!

In [12]:
import datetime
date=datetime.datetime.now()
print(date)
hour=date.strftime("%H")
print("current hour is:",hour)
if(time<=12.00):
    print("Good Morning!!!")
elif(time<=16.00):
    print("Good Afternoon!!!")
elif(time<=20.00):
    print("Good Evening!!!")
else:
    print("Good Night!!!")

2022-06-03 20:35:47.814285
current hour is: 20
Good Night!!!

In [13]:
import datetime
date=datetime.datetime.now()
print(date)
hour=float(date.strftime("%H"))
print("current hour is:",hour)
if(time<=12.00):
    print("Good Morning!!!")
elif(time<=16.00):
    print("Good Afternoon!!!")
elif(time<=20.00):
    print("Good Evening!!!")
else:
    print("Good Night!!!")

2022-06-03 20:37:28.537139
current hour is: 20.0
Good Night!!!

In [ ]:
s1=90 ; s2=80 ; s3=70 ; s4=60 
tot=s1+s2+s3+s4+s5
per=(tot/500)*100

print("Total")

In [1]:
x=range(10)
print(x)
print (type(x))

range(0, 10)
<class 'range'>

In [2]:
y=range(10,20)
for q in y:
    print(q)

10
11
12
13
14
15
16
17
18
19

In [3]:
z=range(20,30,2)
for r in z:
    print(r)

20
22
24
26
28

In [4]:
w=range(40,30,-1)
for s in w:
    print(s)

40
39
38
37
36
35
34
33
32
31

In [5]:
for p in range(100):
    print("Good Evening!!!")

Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!
Good Evening!!!

In [6]:
for p in range(1,500):
    print(p)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499

In [7]:
for p in range(1,101,2):
    print(p)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [8]:
for p in range(0,101,2):
    print(p)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [12]:
n=int(input("Enter a Number:"))
print("MULTIPLICATION TABLE is:")
for p in range(1,11):
    print(n,'x',p,'=',n*p)

Enter a Number:5
MULTIPLICATION TABLE is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
for i in range(1,4):
    for j in range(1,4):
        print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [23]:
for i in range(1,4):
    for j in range(1,4):
        print(i,end=" ")
    print()

1 1 1
2 2 2
3 3 3

In [22]:
for i in range(1,3):
    for j in range(1,3):
        print("Hello")

Hello
Hello
Hello
Hello

In [6]:
x=[30,10,20,50,40,60]
print(x)
print(len(x))
print(sum(x))
print(max(x))
print(min(x))
print(sorted(x,reverse=True))
print(x[3]+x[4])
print(x[::-1])
print(sorted(x[::-1]))
print(sorted(x[::-1],reverse=True))
print(reversed(x))

[30, 10, 20, 50, 40, 60]
6
210
60
10
[60, 50, 40, 30, 20, 10]
90
[60, 40, 50, 20, 10, 30]
[10, 20, 30, 40, 50, 60]
[60, 50, 40, 30, 20, 10]
<list_reverseiterator object at 0x0000014ACD7EC880>

In [11]:
x=[10,20,30,40,50,60]
for p in reversed(x):
    print(p,end=" ")
print("\n")
for p in reversed(sorted(x)):
    print(p,end=" ")

60 50 40 30 20 10

60 50 40 30 20 10

In [13]:
x=[10,20,30,40,50]
y=[10,20,30,40,50]
print(x,id(x))
print(y,id(x))

[10, 20, 30, 40, 50] 1420787045952
[10, 20, 30, 40, 50] 1420787045952

In [20]:
print(x[0],type(x[0]),id(x[0]))
print(x[0],type(x[0]),id(x[0]))
print(y[0],type(y[0]),id(y[0]))
print(x[1],type(x[1]),id(x[1]))

10 <class 'int'> 1420703787600
10 <class 'int'> 1420703787600
10 <class 'int'> 1420703787600
20 <class 'int'> 1420703787920

In [25]:
x=[["Kohli,64"],["Rohit",40],["Pant",30],["Dhoni",45]]
print(x,len(x))
for p in x:
    print(p,type(p))
for p in x:
    print("PLAYER:",p)
    print("RUNS:",q)
    print("============")

[['Kohli,64'], ['Rohit', 40], ['Pant', 30], ['Dhoni', 45]] 4
['Kohli,64'] <class 'list'>
['Rohit', 40] <class 'list'>
['Pant', 30] <class 'list'>
['Dhoni', 45] <class 'list'>
PLAYER: ['Kohli,64']

NameError: name 'q' is not defined

In [8]:
x=[10,20,30,40,10,50,60,65,"pune",3,10,4,9,33]
x.pop(6)
print(x)
x.remove(10)
print(x)
x.remove(10)
print(x)

[10, 20, 30, 40, 10, 50, 65, 'pune', 3, 10, 4, 9, 33]
[20, 30, 40, 10, 50, 65, 'pune', 3, 10, 4, 9, 33]
[20, 30, 40, 50, 65, 'pune', 3, 10, 4, 9, 33]

In [10]:
emps=[[101,"Miller",70000,"hyd"],[102,"Blake",80000,"pune"],[103,"James",90000,"Mumbai"]]
for p in emps:
    p.pop(3)
print(emps)

[[101, 'Miller', 70000], [102, 'Blake', 80000], [103, 'James', 90000]]

In [16]:
emps=[[101,"Miller",70000,"hyd"],[102,"Blake",80000,"pune"],[103,"James",90000,"Mumbai"]]
for p in emps:
    p.remove(p[3])
print(emps)

[[101, 'Miller', 70000], [102, 'Blake', 80000], [103, 'James', 90000]]

In [19]:
emps=[[101,"Miller",70000,"hyd"],[102,"Blake",80000,"pune"],[103,"James",90000,"Mumbai"]]
names=[]
for p in emps:
    names.append(p[1])
print(names)
print(sorted(names))

['Miller', 'Blake', 'James']
['Blake', 'James', 'Miller']

In [20]:
emps=["James","Miller","Rahul","Blake"]
emps.sort()
print(emps)

['Blake', 'James', 'Miller', 'Rahul']

In [21]:
x=[30,40,10,50,20]
x.sort()
print(x)

[10, 20, 30, 40, 50]

In [23]:
medals=["IND","ENG","AUS","JAP","IND","AUS","IND"]
print(medals.count("IND"))

3

In [24]:
x=[10,20,30,40,50,60]
y=x.copy()
print(y)

[10, 20, 30, 40, 50, 60]

In [3]:
~4

-5

In [16]:
a=int(input("Enter First Number:"))
b=int(input("Enter Second Numnber:"))
c=int(input("Enter Third Number:"))
max=a if a>b>c else b if b>c else c
print("Max Value:",max)

Enter First Number:10
Enter Second Numnber:20
Enter Third Number:30
Max Value: 30

In [21]:
cities="hyd","pune","mumbai"
print(cities,type(cities),len(cities))

('hyd', 'pune', 'mumbai') <class 'tuple'> 3

In [4]:
a=10
b=20
print("a>b is",a>b)
print("a>=b is",a>=b)
print("a<b is",a<b)
print("a<=b is",a<=b)

a>b is False
a>=b is False
a<b is True
a<=b is True

In [2]:
a=int(input("Enter first Number:"))
b=int(input("Enter second Number:"))
min=a if a<b else b
print("Minimum value:",min)

Enter first Number:30
Enter second Number:50
Minimum value: 30

In [3]:
a=int(input("Enter first Number:"))
b=int(input("Enter second Number:"))
c=int(input("Enter third number:"))
min=a if a<b and a<c else b if b<c else c
print("Minimum value:",min)

Enter first Number:10
Enter second Number:20
Enter third number:30
Minimum value: 10

In [4]:
a=int(input("Enter first Number:"))
b=int(input("Enter second Number:"))
c=int(input("Enter third number:"))
max=a if a>b and a>c else b if b>c else c
print("Maximum value is:",max)

Enter first Number:20
Enter second Number:30
Enter third number:40
Maximum value is: 40

In [5]:
from math import pi
r=int(input("Enter the radius:"))
print("Area of the circle is:",pi*r**2)

Enter the radius:16
Area of the circle is: 804.247719318987

In [3]:
#bitwise operator
x=10
y=7
print(x&y)
print(x|y)
print(x^y)
print(x<<y)
print(x>>y)

2
15
13
1280
0

In [1]:
a = 8 // 6 % 5 + 2 ** 3 - 2
print(a)

7