In [1]:
x=("Amar","Rohith","Rahul","Blake","James","Miller")
print(x[2])
print(x[-4])
print(x[0:3])
print(x[2:5])   #end -1
print(x[5:2])
print(type(x))

Rahul
Rahul
('Amar', 'Rohith', 'Rahul')
('Rahul', 'Blake', 'James')
()
<class 'tuple'>

In [17]:
x=("Amar","Rohith","Rahul","Blake","James","Miller")
print(x[-4:-1])
print(x[2:])
print(x[-4:])
print(x[:3])

('Rahul', 'Blake', 'James')
('Rahul', 'Blake', 'James', 'Miller')
('Rahul', 'Blake', 'James', 'Miller')
('Amar', 'Rohith', 'Rahul')

In [18]:
x=("Amar","Rohith","Rahul","Blake","James","Miller")
print(x[:])
print(x)
print(x[0:])

('Amar', 'Rohith', 'Rahul', 'Blake', 'James', 'Miller')
('Amar', 'Rohith', 'Rahul', 'Blake', 'James', 'Miller')
('Amar', 'Rohith', 'Rahul', 'Blake', 'James', 'Miller')

In [23]:
x=("Amar","Rohith","Rahul","Blake","James","Miller")
print(x[0:6:2])
print(x[0:5:2])
print(x[::2])
print(x[::-1])

('Amar', 'Rahul', 'James')
('Amar', 'Rahul', 'James')
('Amar', 'Rahul', 'James')
('Miller', 'James', 'Blake', 'Rahul', 'Rohith', 'Amar')

In [22]:
x=[10,20,30,40,50]
y=[10,20,30,40,50]
print(x,id(x))
print(y,id(y))
print(x is y)
print(x == y)

TypeError: 'tuple' object is not callable

In [27]:
x=(10,20,30,40,50)
y=(10,20,30,40,50)
print(x,id(x))
print(y,id(y))

(10, 20, 30, 40, 50) 1619069277904
(10, 20, 30, 40, 50) 1619068561184

In [29]:
x=([10,20,30,40,50])
y=([10,20,30,40,50])
print(x,type(x),len(x),id(x))
print(y,type(y),len(y),id(y))
print(x is y)
print(x == y)

[10, 20, 30, 40, 50] <class 'list'> 5 1619069364672
[10, 20, 30, 40, 50] <class 'list'> 5 1619069364480
False
True

In [30]:
x=[(10,20,30,40,50)]
y=[(10,20,30,40,50)]
print(x,type(x),len(x),id(x))
print(y,type(y),len(y),id(y))

[(10, 20, 30, 40, 50)] <class 'list'> 1 1619069364096
[(10, 20, 30, 40, 50)] <class 'list'> 1 1619068553152

In [33]:
p=((10,20,30),(40,50,60),[70,80,90])
q=((10,20,30),(40,50,60),[70,80,90])
print(type(p),id(p),len(p))
print(type(q),id(q),len(q))
print(p is q)
print(p == q)

<class 'tuple'> 1619069297280 3
<class 'tuple'> 1619069297856 3
False
True

In [3]:
p=((10,20,30),(40,50,60),[70,80,90])
q=((10,20,30),(40,50,60),[70,80,90])
print(p[0],[0]),type(p[0],[0])
print(q[0],[0]),type(q[0],[0])
print(p is q)
print(p == q)

(10, 20, 30) [0]

TypeError: type() takes 1 or 3 arguments

In [3]:
x=(30,10,40,20,50)
print(x)
print(type(x))
print(id(x))
print(len(x))
print(sum(x))
print(max(x))
print(min(x))
print(sorted(x))
print(sorted(x,reverse=True))

(30, 10, 40, 20, 50)
<class 'tuple'>
2268649202208
5
150
50
10
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [43]:
x=(30,10,40,20,50)
print(x[::-1])
print(sorted(x[::-1]))
print(sorted(x[::-1],reverse=True))

(50, 20, 40, 10, 30)
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [5]:
x=(10,20,30,40,50)
for p in reversed(x):
    print(p,end=" ")
print("\n")

50 40 30 20 10

In [8]:
x=(20,30,50,10,40)
for p in reversed(sorted(x)):
    print(p,end=" ")
print("\n")

50 40 30 20 10

In [11]:
x=("Lion","Tiger","Fox","Elephant","rat")
print(max(x))
print(min(x)) #first char only
print(sorted(x))

rat
Elephant
['Elephant', 'Fox', 'Lion', 'Tiger', 'rat']

In [ ]:
#ASCII values
#A=65
#a=97

In [12]:
marks=(95,60,45)
s1,s2,s3=marks
print(s1,type(s1))
print(s2,type(s2))
print(s3,type(s3))

95 <class 'int'>
60 <class 'int'>
45 <class 'int'>

In [17]:
#tuple within a tuple
x=(("Kohli",95),("Dhoni",45),("Rohith",82),("Hardik",30))
print(x,len(x))
for p in x:
    print(p,type(p))
for p,q in x:
    print("Players:",p)
    print("Runs:",q)
    print("==================")

(('Kohli', 95), ('Dhoni', 45), ('Rohith', 82), ('Hardik', 30)) 4
('Kohli', 95) <class 'tuple'>
('Dhoni', 45) <class 'tuple'>
('Rohith', 82) <class 'tuple'>
('Hardik', 30) <class 'tuple'>
Players: Kohli
Runs: 95
==================
Players: Dhoni
Runs: 45
==================
Players: Rohith
Runs: 82
==================
Players: Hardik
Runs: 30
==================

In [22]:
emps=((101,"Miller",50000,"Manger"),
      (102,"Blake",60000,"Professor"),
      (103,"James",70000,"Teacher"),
      (104,"Ajay",80000,"Principal"))
print(emps,len(emps))
for p in emps:
    print(p,type(p))
for p,q,r,s in emps:
    print("EID:",p)
    print("ENAME:",q)
    print("SALARY:",r)
    print("DESIGNATION:",s)
    print("====================")

((101, 'Miller', 50000, 'Manger'), (102, 'Blake', 60000, 'Professor'), (103, 'James', 70000, 'Teacher'), (104, 'Ajay', 80000, 'Principal')) 4
(101, 'Miller', 50000, 'Manger') <class 'tuple'>
(102, 'Blake', 60000, 'Professor') <class 'tuple'>
(103, 'James', 70000, 'Teacher') <class 'tuple'>
(104, 'Ajay', 80000, 'Principal') <class 'tuple'>
EID: 101
ENAME: Miller
SALARY: 50000
DESIGNATION: Manger
====================
EID: 102
ENAME: Blake
SALARY: 60000
DESIGNATION: Professor
====================
EID: 103
ENAME: James
SALARY: 70000
DESIGNATION: Teacher
====================
EID: 104
ENAME: Ajay
SALARY: 80000
DESIGNATION: Principal
====================

In [28]:
#case1- list as tuple element
x=((10,20,30),(40,50,60),[70,80,90])
x[2][0]=75
print(x)
x[2]
print(type(x))

((10, 20, 30), (40, 50, 60), [75, 80, 90])
<class 'tuple'>

In [30]:
x=((10,20,30),(40,50,60),[70,80,90])
x[2]="python"
#tuple item can't be modify

TypeError: 'tuple' object does not support item assignment

In [40]:
#case2- tuple as list element
x=[[10,20,30],[40,50,60],(70,80,90)]
x[0][2]=35
x[1][2]="pune"
print(x)
x[2]="python"
x[1]=4.5
x[0]=True
print(x)

[[10, 20, 35], [40, 50, 'pune'], (70, 80, 90)]
[True, 4.5, 'python']

In [1]:
#program to convert tuple to string--->
tup='p','r','a','n','i','l'
str=''.join(tup)
print(str)

pranil

In [4]:
#program to get the 4th element and 4th element from last of a tuple
t=eval(input("Enter list of tuple:"))
print(t)
item=t[3]
print(item)
item1=t[-4]
print(item1)

Enter list of tuple:10,20,30,40,50,60,70
(10, 20, 30, 40, 50, 60, 70)
40
40

In [2]:
t=(1,3,4,6,7,4,5,2,5,6,4)
print(t)
count=t.count(4)
print(count)

(1, 3, 4, 6, 7, 4, 5, 2, 5, 6, 4)
3

In [5]:
#program to convert a list to a tuple.
l=[10,20,30,40,50]
print(l)
t=tuple(l)
print("Tuple=",t)

[10, 20, 30, 40, 50]
Tuple= (10, 20, 30, 40, 50)

In [ ]:
#program to remove an item from a tuple